.social-media ul {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 21px;
}
.social-media li {
  border: 1px solid grey;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.social-media li:hover {
  transform: scale(1.1);
  transform: rotate(360deg);
  transition: 0.3s ease-in-out;
}
.social-media li a {
  color: #1e90ff;
}
